<form class="border p-4 rounded">
  <div class="form-group">
    <h2 class="p-1">Create a new Post</h2>
    <label for="exampleInputEmail1">Title</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Content</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      placeholder="Enter content"
    ></textarea>
  </div>
  <div class="row justify-content-center">
    <button type="submit" class="col-md-5 btn btn-dark mr-2">
      Create
    </button>
  </div>
</form>