<main class='mt-5 ml-5 mr-5'>
  {{#each posts as |post|}}
    <div class='card mb-3 w-100 mr-5' style='width: 18rem'>
      <div class='card-body'>
        <div class='card-header d-flex justify-content-between'>
          <div class='d-flex'>
            <h5 class='card-title mr-2'>{{title}}:</h5>
            <h5 class='card-text'>{{date}}</h5>
          </div>
          <div>
            <button class='btn btn-dark edit-buttons' data-id={{id}}>Edit</button>
            <button class='btn btn-dark delete-buttons' data-id={{id}}>Delete</button>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</main>
<footer class='d-flex justify-content-center'>
  <button type='submit' class='btn btn-dark'>Create Post</button>
</footer>
<script src='/js/editDeletePost.js'></script>